<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="/photos/download1.png">
    <link rel="stylesheet" type="text/css" href="/explore.css">
    <script
  src="//code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <title>Find People|<%=username%></title>
    <script>
    window.addEventListener( "pageshow", function ( event ) {
    var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
    if ( historyTraversal ) {
      // Handle page restore.
      window.location.reload(true);
    }
    });
    </script>


    <style>
      body{
        background: #D3D3D3;
        color:purple;
            }
      #details{
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.6rem;
        padding-top: 30px;
      }
      #logoutlink:hover{
        color:red;
      }
      .row{
        margin-top: 90px;
      }
      .container{
        width: 90%;
      }
      .img-rounded{
        width: 200px;
      }
      #main-container{
        padding-top: 80px;
        width: 100%;
      }
      .panel-default{
        margin-bottom: 20px;
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">
            <i class="fas fa-hand-peace" style="color:#F61C40;"></i> Online Voting
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/me">Home</a></li>
          <li ><a href="/profile">Profile</a></li>
          <li ><a href="/pollresults">Poll Results</a></li>
          <li ><a href="/userpastactivity">Past Activity</a></li>
          <li class="active"><a href="">Find People</a></li>
          <li><a href="/putupquestion">Make Poll</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/setting">Settings</i></a></li>
          <li><a href="/logout" id="logoutlink">LogOut</i></a></li>
        </ul>
      </div>
      </div>

    </nav>

      <div class="row">
        <div class="col-lg-3" style="border-right:1px solid grey">
          <button class="btn btn-primary" type="button" style="width:100%;">
            Followers <span class="badge"><%= user.followers.length %></span>
          </button>
          <div class="list-group">
                <% for(var i=0;i<user.followers.length;i++){ %>
                  <a href="#" class="list-group-item" id=<%= user.followers[i]._id %> style="margin-top:10px;">
                    <div class="row" style="margin-top:0px;text-align:center">
                      <div class="col-lg-3" class="thumbnail">
                          <img src=<%= user.followers[i].imgsrc %> alt="..." class="img-circle" height="30px" width="30px">
                      </div>
                      <div class="col-lg-9"><span style="color:black;letter-spacing:2px;font-weight:bold;"><%= user.followers[i].firstname+" "+user.followers[i].lastname %></span> </div>
                    </div>
                  </a>
                <% } %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="col-lg-12" style="padding-right:0px;padding-left:0px;">
            <div class="input-group">
              <input type="text" class="form-control" id="search-input" placeholder="Search for people..." autofocus autocomplete="off">
              <span class="input-group-btn">
                <button class="btn btn-default" id="search-button" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </div>

            <div class="list-group" id="search-result" style="margin-top:70px;">
              <p style="text-align:center;margin-top:30vh;">Start finding people you want to follow...</p>
            </div>

        </div>
        <div class="col-lg-3" style="border-left:1px solid grey">
          <button class="btn btn-primary" type="button" style="width:100%;">
            Following <span class="badge"><%= user.following.length %></span>
          </button>
          <div class="list-group">
                <% for(var i=0;i<user.following.length;i++){ %>
                  <a href="#" class="list-group-item" id=<%= user.following[i]._id %> style="margin-top:10px;">
                    <div class="row" style="margin-top:0px;text-align:center">
                      <div class="col-lg-3" class="thumbnail">
                          <img src=<%= user.following[i].imgsrc %> alt="..." class="img-circle" height="30px" width="30px">
                      </div>
                      <div class="col-lg-9  "><span style="color:black;letter-spacing:2px;font-weight:bold;"><%= user.following[i].firstname+" "+user.following[i].lastname %></span></div>
                    </div>
                  </a>
                <% } %>
          </div>
        </div>
      </div>
</div>


<script id="result-template" type="text/template">
    <a href="#" class="list-group-item" id={{_id}}>
      <div class="row" style="margin-top:0px;text-align:center">
        <div class="col-lg-1" class="thumbnail">
            <img src={{imgsrc}} alt="..." class="img-circle" height="30px" width="30px">
        </div>
        <div class="col-lg-11"><span style="color:black;letter-spacing:2px;font-weight:bold;">{{username}}</span>     @{{username1}} </div>
      </div>
    </a>
</script>


  <script src="/mustache.js"></script>
  <script type="text/javascript" src="/explore.js"></script>
  </body>
</html>
