<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <title>Home|<%=user.username%></title>
    <script>
    window.addEventListener( "pageshow", function ( event ) {
    var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
    if ( historyTraversal ) {
      // Handle page restore.
      window.location.reload(true);
    }
    });
    </script>

    <style>
      body{
        background: #D3D3D3;
        color:#FF5733;
      }
      #details{
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.6rem;
        padding-top: 30px;
      }
      #logoutlink:hover{
        color:red;
      }
      .row{
        margin-top: 90px;
      }
      .container{
        width: 90%;
      }
      .img-rounded{
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">
            <i class="fas fa-hand-peace" style="color:#F61C40;"></i> Online Voting
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a href="/me">Home</a></li>
          <li class="active"><a href="#">Profile</a></li>
          <li ><a href="/pollresults">Poll Results</a></li>
          <li ><a href="/userpastactivity">Past Activity</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/setting">Settings</i></a></li>
          <li><a href="/logout" id="logoutlink">LogOut</i></a></li>
        </ul>
      </div>
      </div>

    </nav>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="img-thumbnail" style="margin-bottom:10px;">
          <img src=<%= user.imgsrc %>  style="width:100%;height:300px" alt="profile pic">
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">About</div>
          <div class="panel-body"><p><%= user.about %></p></div>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">Name</div>
          <div class="panel-body"><%=user.firstname%> <%= user.lastname %></div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">Username</div>
          <div class="panel-body"><%=user.username%></div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">Gender</div>
          <div class="panel-body"><%=user.gender%></div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">Age</div>
          <div class="panel-body"><%=user.age%></div>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">Occupation</div>
          <div class="panel-body"><%=user.occupation%></div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">City</div>
          <div class="panel-body"><%=user.city%></div>
        </div>


      </div>
    </div>
  </div>
  </body>
</html>
